/* Zerar as margens de todos os elementos da página.
 Margens externas e internas */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/* Vamos adicionar uma imagem ao fundo header */
header{
    background-image: url("../img/caferia4.jpg");
    height: 500px;
}

h1{
    color: white;
}