/* Importando as fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/* Zerar as margens de todos os elementos da página.
 Margens externas e internas */
 @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
 *{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/* Vamos adicionar uma imagem ao fundo header */
header{
    background-image: url("../img/cafezao4\ \(1\).jpg");
    /* Ajustar o tamanho da imagem em 100% de largura */
    background-size: 100%;
    /* Ajustar a posição da imagem em x e y */
    background-position: 0px -810px;

    height: 600px;
    padding: 30px;
    
}

nav{
    /* Tornando o conteúdo do nav flexivel. Isso permite que
    os elemetos fiquem um ao ladodo outro */
    display: flex;
    /* Alinhamento vertical dos elementos que estão no nav */
    align-items: center;
}

h1{
    /* Mudar a cor da letra */
    color: rgb(168, 40, 40);
    /* Alterar o tipo de letra */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Tamanho da fonte */
    font-size: 30pt;
    /* Alterar o tamanho da caixa(alta ou baixa) */
    text-transform: lowercase;
    margin-right: 700px;
    

}

ul{

    /* Retirr o marcador da lista */
    list-style: none;
}

header ul li{
    /* Vamos ajustar a disposição (display)
     dos itens da lista em formato de linha  */
     display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

header ul li:hover{
    background-color:#ffab00;
    transition: 1s;
    
}

header ul li a{
    color: white;
    /* Vamos retirar o underline(sublinhado) */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header h2{
    color:#e65100 ;
    text-align: center;
    margin-top: 160px;
    font-family: "EB Garamond", sans-serif;
    font-size: 30pt;
    font-weight: 300;
    text-shadow: 0px 0px 5px rgb(161, 138, 138);
}

header p{
    font-family: "Lora", sans-serif;
    font-size: 10pt;
    color: white;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    text-shadow: 0px 0px 5px black;
        
}

footer{
    background-color: #ff9955;
    display: flex;
    justify-content: space-between;
    padding: 50px;

    padding-top: 40px;
    padding-bottom: 40px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    color: black;
}


footer #rede li{
    /* Colocar as redes na horizontal */
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}